@charset "utf-8";
@import "./normalize.css";

@font-face {
  font-family: "noto-sans-scott";
  font-weight: 100;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Thin.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Thin.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 200;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Light.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Light.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Light.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Light.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 300;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 400;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Regular.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Regular.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 500;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Medium.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Medium.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 700;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Bold.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Bold.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 900;
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Black.eot");
  src: url("../fonts/noto-sans-scott/NotoSansCJKkr-Black.eot") format("embedded-opentype"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Black.woff") format("woff"),
  url("../fonts/noto-sans-scott/NotoSansCJKkr-Black.otf") format("truetype");
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
main, article, aside, details,   figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 기본 설정 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #181818;
  font-family: "noto-sans-scott", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background-color: #FFF;
}
/* 링크 스타일 */
a, a:hover {
  color: inherit;
  text-decoration: none;
}
a, button {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
}
/* 숨김 콘텐츠 */
.readable-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.word-break {
  word-break: keep-all;
  word-wrap: break-word;
}

.wrapper {
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 5;
}
.logo a {
  display: block;
}
.logo img {
  display: block;
  width: 100px;
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 50%;
  cursor: pointer;
}
.menu-toggle:hover {
  background-color: rgba(0, 0, 0, 1);
}
.menu-toggle::after {
  content: "menu";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 20px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.menu-toggle:hover::after {
  opacity: 1;
}
.menu-toggle.open {
  background-color: #FFF;
}
.menu-toggle.open::after {
  content: "close";
  color: #FFF;
  opacity: 1;
}
.menu-toggle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15px;
  height: 12px;
}
.menu-toggle .menu-toggle-inner span {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  border-radius: 1px;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-toggle .menu-toggle-inner span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.menu-toggle .menu-toggle-inner span:nth-child(2) {
  top: 5px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.menu-toggle .menu-toggle-inner span:nth-child(3) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.menu-toggle.open .menu-toggle-inner span {
  background-color: #000;
}
.menu-toggle.open .menu-toggle-inner span:nth-child(1) {
  top: 0;
  left: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-toggle.open .menu-toggle-inner span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.menu-toggle.open .menu-toggle-inner span:nth-child(3) {
  top: 11px;
  left: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-overlay {
  position: absolute;
  top: 50px;
  right: 45px;
  z-index: -1;
  background: rgba(0, 0, 0, .99);
  border-radius: 50%;
  transition: 1s;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}
.menu-overlay.open {
  z-index: 8;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -5;
  width: 100%;
  color: #000;
  transition: ease-in-out 0.25s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
}
.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.menu ul li:last-child {
  border-right: 0;
}
.menu a {
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}
.menu.open {
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: ease-in-out 0.5s;
  transition-delay: 0.25s;
}

.prev-btn,
.next-btn,
.gomail-btn,
.github-btn {
  display: block;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  color: #000;
  font-size: 20px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50%;
  cursor: pointer;
}
.prev-btn {
  left: 20px;
  bottom: 80px;
  visibility: hidden;
  opacity: 0;
}
.prev-btn.show {
  visibility: visible;
  opacity: 1;
}
.next-btn {
  left: 20px;
  bottom: 20px;
}
.gomail-btn {
  right: 20px;
  bottom: 20px;
}
.github-btn {
  right: 80px;
  bottom: 20px;
}
.prev-btn:hover,
.next-btn:hover,
.gomail-btn:hover,
.github-btn:hover {
  background-color: rgba(0, 0, 0, .2);
}
.prev-btn::after,
.next-btn::after,
.gomail-btn::after,
.github-btn::after {
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.prev-btn:hover::after,
.next-btn:hover::after,
.gomail-btn:hover::after,
.github-btn:hover::after {
  opacity: 1;
}
.prev-btn::after,
.next-btn::after {
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 20px;
}
.gomail-btn::after,
.github-btn::after {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-bottom: 5px;
}
.prev-btn i,
.next-btn i,
.gomail-btn i,
.github-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.next-btn.up i {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -moz-transform: translate(-50%, -50%) rotate(-180deg);
  -o-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}
.next-btn.right i {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}

.nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 48px;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.nav.hide {
  visibility: hidden;
  opacity: 0;
}
.nav a {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  margin: 30px 0;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
}
.nav .active a {
  opacity: 1;
}
.nav li a > span {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 15px;
  font-size: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.nav li a:hover > span {
  visibility: visible;
  opacity: 1;
}

.content {
  position: relative;
  z-index: 1;
}
.fp-section.fp-table {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.section .sub-text {
  margin-bottom: 15px;
  font-size: 13px;
  color: #9C9C9C;
}
.section1 h2 {
  margin-bottom: 25px;
  font-size: 43px;
  font-weight: 100;
}
.section1 h2 small {
  display: block;
  font-size: 20px;
  font-weight: 200;
}
.section1 h3 {
  font-size: 22px;
  font-weight: 200;
}

.section2 .strength-list li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 200;
}
.section2 .strength-list strong {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 700;
}
.section2 .strength-list li span {
  font-weight: 500;
}

.section3 .skill-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-direction: column;
}
.section3 .skill-item h3 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}
.section3 .skill-item .progress-bar {
  height: 10px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, .1);
}
.section3 .skill-item .progress-bar-inner {
  width: 0%;
  height: 10px;
  background-color: rgba(0, 0, 0, .2);
}
.section3 .skill-item .progress-bar-inner.progressbar-animation3 {
  width: 30%;
  animation: progressbar3 2s ease-out;
}
@keyframes progressbar3 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 30%;
  }  
}
.section3 .skill-item .progress-bar-inner.progressbar-animation4 {
  width: 40%;
  animation: progressbar4 2s ease-out;
}
@keyframes progressbar4 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 40%;
  }  
}
.section3 .skill-item .progress-bar-inner.progressbar-animation6 {
  width: 60%;
  animation: progressbar6 2s ease-out;
}
@keyframes progressbar6 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 60%;
  }  
}
.section3 .skill-item .progress-bar-inner.progressbar-animation7 {
  width: 70%;
  animation: progressbar7 2s ease-out;
}
@keyframes progressbar7 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 70%;
  }  
}
.section3 .skill-item .progress-bar-inner.progressbar-animation8 {
  width: 80%;
  animation: progressbar8 2s ease-out;
}
@keyframes progressbar8 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 80%;
  }  
}
.section3 .skill-item .progress-bar-inner.progressbar-animation9 {
  width: 90%;
  animation: progressbar9 2s ease-out;
}
@keyframes progressbar9 { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 90%;
  }  
}
.section3 .skill-item p {
  display: none;
}

.section4 .swiper-container {
  width: 100%;
  height: 100%;
}
.section4 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding: 20px;
  font-size: 18px;
  /* background-color: rgba(255, 255, 255, .8); */
  border-right: 1px solid rgba(217, 217, 217, .4);
}
.section4 .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  opacity: .2;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.section4 .swiper-slide:hover::after {
  opacity: .2;
}
.section4 .swiper-slide:nth-child(1)::after {
  background-image: url(../images/trello.jpg);
}
.section4 .swiper-slide:nth-child(2)::after {
  background-image: url(../images/dokudoku.jpg);
}
.section4 .swiper-slide:nth-child(3)::after {
  background-image: url(../images/linc.png);
}
.section4 .swiper-slide:nth-child(4)::after {
  background-image: url(../images/edulab.png);
}
.section4 .swiper-slide:nth-child(5)::after {
  background-image: url(../images/educ.png);
}
.section4 .swiper-slide:nth-child(6)::after {
  background-image: url(../images/neomir.png);
}
.section4 .swiper-slide:nth-child(7)::after {
  background-image: url(../images/dualhub.png);
}
.section4 .swiper-slide:nth-child(8)::after {
  background-image: url(../images/conc.png);
}
.section4 .swiper-slide a {
  display: block;
}
.section4 .swiper-slide .sub-text {
  margin-bottom: 10px;
}
.section4 .swiper-slide h3 {
  font-size: 30px;
}

.section5 h3 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300;
}
.section5 h3 small {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 200;
}
.section5 .experience-list li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 200;
}
.section5 .experience-list li:nth-child(4) {
  margin-bottom: 0;
}
.section5 .experience-list strong {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .logo img {
    width: 120px;
  }

  .prev-btn::after {
    content: "prev";
  }
  .next-btn::after {
    content: "next";
  }
  .next-btn.up::after {
    content: "top";
  }
  .gomail-btn::after {
    content: "email";
  }
  .github-btn::after {
    content: "github";
  }

  .menu ul {
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
  }
  .menu ul li {
    border-right: 1px solid rgba(255, 255, 255, .05);
  }

  .nav {
    display: inline-block;
  }

  .fp-section.fp-table {
    width: 540px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .section .sub-text {
    margin-bottom: 30px;
    font-size: 15px;
  }

  .section1 h2 {
    font-size: 72px;
  }
  .section1 h2 small {
    display: inline;
    font-size: 25px;
  }
  .section1 h3 {
    font-size: 25px;
  }

  .section2 .strength-list li {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .section2 .strength-list strong {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }

  .section3 .skill-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .section3 .skill-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .section3 .skill-row .skill-item:last-child {
    padding-right: 0;
  }
  .section3 .skill-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .section3 .skill-item .progress-bar {
    height: 15px;
    margin-bottom: 10px;
  }
  .section3 .skill-item .progress-bar-inner {
    height: 15px;
  }
  .section3 .skill-item p {
    display: block;
  }

  .section4 .swiper-slide {
    padding: 70px;
  }

  .section5 h3 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .section5 h3 small {
    display: inline;
    margin-top: 0;
    font-size: 20px;
  }
  .section5 .experience-list li {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .section5 .experience-list li:nth-child(4) {
    margin-bottom: 20px;
  }
  .section5 .experience-list strong {
    display: inline-block;
    width: 135px;
    margin-right: 20px;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .logo img {
    width: 150px;
  }

  .menu-toggle {
    width: 70px;
    height: 70px;
  }
  .menu-toggle-inner {
    width: 20px;
    height: 15px;
  }
  .menu-toggle .menu-toggle-inner span:nth-child(2) {
    top: 7px;
  }
  .menu-toggle .menu-toggle-inner span:nth-child(3) {
    top: 14px;
  }
  .menu-toggle.open .menu-toggle-inner span:nth-child(1) {
    top: 1px;
    left: 3px;
  }
  .menu-toggle.open .menu-toggle-inner span:nth-child(3) {
    top: 15px;
    left: 3px;
  }
  .menu-overlay {
    top: 55px;
    right: 55px;
  }

  .menu a {
    font-size: 35px;
  }

  .prev-btn,
  .next-btn,
  .gomail-btn,
  .github-btn {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .prev-btn {
    bottom: 100px;
  }
  .github-btn {
    right: 100px;
  }

  .fp-section.fp-table {
    width: 720px;
  }

  .section1 h2 {
    font-size: 100px;
  }

  .section2 .strength-list li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .section2 .strength-list strong {
    display: inline-block;
    width: 115px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
  }

  .section4 .swiper-slide::after {
    opacity: 0;
  }
  .section4 .swiper-slide h3 {
    font-size: 45px;
  }

  .section5 .experience-list li {
    font-size: 20px;
  }
  .section5 .experience-list strong {
    width: 150px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .logo {
    top: 80px;
  }
  .menu-toggle {
    top: 70px;
    right: 30px;
  }
  .menu-overlay {
    top: 100px;
    right: 60px;
  }
  .menu a {
    font-size: 40px;
  }
  .prev-btn {
    left: 30px;
    bottom: 150px;
  }
  .next-btn {
    left: 30px;
    bottom: 70px;
  }
  .gomail-btn {
    right: 30px;
    bottom: 70px;
  }
  .github-btn {
    right: 110px;
    bottom: 70px;
  }.gomail-btn::after,
  .github-btn::after {
    top: 100%;
    bottom: auto;
    padding-top: 5px;
    padding-bottom: 0;
  }
  .nav {
    left: 58px;
  }
  .fp-section.fp-table {
    width: 960px;
  }

  .section .sub-text {
    font-size: 16px;
  }
  .section1 h2 {
    font-size: 118px;
  }
  .section2 .strength-list li {
    font-size: 25px;
  }
  .section2 .strength-list strong {
    width: 150px;
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  .logo {
    left: 60px;
  }
  .menu-toggle {
    right: 70px;
  }
  .menu-overlay {
    right: 100px;
  }
  .prev-btn {
    left: 70px;
  }
  .next-btn {
    left: 70px;
  }
  .gomail-btn {
    right: 70px;
  }
  .github-btn {
    right: 150px;
  }
  .nav {
    left: 98px;
  }
}